AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
OPENAI_BASE_URL=https://maplehack-2-resource.openai.azure.com/openai/v1
OPENAI_MODEL=Kimi-K2.6-1
FRONTEND_ORIGIN=http://localhost:5173
AZURE_SPEECH_ENDPOINT=https://maplehack-2-resource.cognitiveservices.azure.com/
AZURE_RESOURCE_ID=/subscriptions/a0c62bdd-d642-4fdb-b372-ae041cf83ce3/resourceGroups/rg-admin-6652/providers/Microsoft.CognitiveServices/accounts/maplehack-2-resource
AZURE_SPEECH_VOICE=en-US-Grant:MAI-Voice-1
AZURE_SPEECH_TEXT=Hello, welcome to Azure AI Foundry!
AZURE_SPEECH_OUTPUT_FILE=outputs/speech.wav
